header > h1 {
    text-align: center;
    margin-top: 5%;
}

.bodyBlock {
    margin-top: 5%;
}

.thumbnailPostTitle, .detailPostTitle {
    text-align: center;
    font-style: italic;
    font-family: bold;
}

.detailPostTitle {
    margin-top: 10%;
}
.thumbnailPostContent, .detailPostContent {
    font-family: bold;
}

.thumbnailPostHeader {
    font-family: bold;
}

.thumbnailPostButton, .detailPostFooter {
    text-align: right;
    margin-right: 5%;
}

.detailPostFooter {
    font-family: bold;
}

.thumbnailPostFooter {
    text-align: right;
}
.thumbnail {
    margin-top: 3%;
}
h2 {
    text-align: center;

}

.showMoreButton {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
}

.paginationButton {
    text-align: center;
}
