{% extends 'base.html' %}

{% block body_block %}
        <div class="thumbnailsBlock">
            {% for author in authors %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3> {{ author.author_name }} </h3>
                            <h4> {{ author.author_mail }}</h4>
                            <p> {{ author.author_content }}</p>
                            <p><a href="#" class="btn btn-primary" role="button">Contact me!</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}