{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        {% if post_list %}
                      <div class="col-md-8 col-md-offset-2">
            <div class="thumbnailsBlock">
                {% for post in post_list %}

                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnailPostTitle">
                                <h3>{{ post.post_title }}</h3>
                            </div>
                            <div class="thumbnailPostHeader">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small>{{ post.post_date|date:"Y-m-d" }}</small>
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                <small>{{ post.post_category }}</small>
                            </div>
                            <hr>
                            <div class="thumbnailPostContent">
                                <p> {{ post.post_content|slice:"0:600" }}... </p>
                                <div class="thumbnailPostButton">
                                    <a href="{{ post.pk }}">Read more</a>
                                </div>
                            </div>


                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            <br/>

            </div>
            <div class="paginationButton">


            {% if is_paginated %}

                <div class="pagination">
                 <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"> Previous page - </a>
                    {% endif %}

                     <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                     </span>

                     {% if page_obj.has_next %}
                         <a href="?page={{ page_obj.next_page_number }}"> - Next page </a>
                     {% endif %}
                </span>
                </div>

            {% endif %}
</div>
        {% else %}
            <h3> No posts found! </h3>
        {% endif %}

{% endblock %}