{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
        <div class="bodyBlock">
        {% if recent_post %}
            <div class="col-md-8 col-md-offset-2">
                <h2>Newest</h2>
                <hr>
                <div class="thumbnailsBlock">
                    {% for post in recent_post %}
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="thumbnailPostTitle">
                                    <h3>{{ post.post_title }}</h3>
                                </div>
                                <div class="thumbnailPostHeader">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <small>{{ post.post_date|date:"Y-m-d" }}</small>
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <small>{{ post.post_category }}</small>
                                </div>
                                <hr>
                                <div class="thumbnailPostContent">
                                    <p> {{ post.post_content|slice:"0:600" }}... </p>
                                    <div class="thumbnailPostButton">
                                        <a href="{{ post.pk }}">Read more</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="showMoreButton">
                    <a href="/blog">Show more</a>
                </div>
            </div>

        {% else %}
            <h1>There is no posts.</h1>
        {% endif %}
        </div>
    </div>

{% endblock %}