{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
        <h2>Newest</h2>
        <hr>
        {% if recent_post %}
            <div class="thumbnailsBlock">
                {% for post in recent_post %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="thumbnailPostTitle">
                                    <h3> {{ post.post_title }} </h3>
                                </div>
                                <hr>
                                <div class="thumbnailPostContent">
                                    <p> {{ post.post_content|slice:"0:600" }}... </p>
                                    <div class="thumbnailPostButton">
                                        <a href="{{ post.pk }}">Read more</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="thumbnailPostFooter">
                                    <small>
                                        {{ "posted by " }}{{ post.post_author }}{{ " at " }}{{ post.post_date|date:"DATE_FORMAT" }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>There is no posts.</h1>
        {% endif %}
        <div class="showMoreButton">
            <a href="/blog">Show more</a>
        </div>
        <hr>
        <br/><br/>
        <h2>Authors</h2>
        <hr>
    <div class=.col-md-3 .col-md-offset-3>
        {% if authors %}
            {% for author in authors %}
                <div class=col-sm-6 col-md-4>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnailAuthorTitle">
                                <h3> Hi! <br /> My name is {{ author.author_name }}. </h3>
                            </div>
                            <div class="thumbnailAuthorContent">
                                <p> {{ author.author_content }} </p>
                                <div class="thumbnailAuthorButton">
                                        <a href="#">Contact me!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock %}